.SortableTableHeadingRow {
    height: 59px;
}

.RestrictedQuestionsContent {
    .SortableTableCell_content {
        width: 100%;
        min-width: 300px;
        max-width: 400px;

        & > .MuiTextField-root {
            width: 100%;
        }
    }

    .SortableTableCell_hint {
        min-width: 221px;

        & > .MuiTextField-root {
            width: 100%;
        }
    }

    .SortableTableCell_state {
        min-width: 120px;
    }
}
