.Feedbacks {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;

    @include media-breakpoint-down(sm) {
        align-items: flex-start;
    }

    .SortableTableRow {
        .RatingItem {
            display: flex;
            gap: 3px;
        }
    }

    .SortableTableCell_startTime,
    .SortableTableCell_endTime {
        min-width: 100px;
    }

    .Feedbacks__back-btn {
        transform: translateY(79px);

        @include media-breakpoint-down(sm) {
            margin-top: 20px;
            transform: none;
        }
    }
}
